<%= form_for @game, html: { multipart: true } do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="panel panel-default">
	<div class="panel-heading">
	</div>
	<div class="panel-body">

  <div class="form-group">
    <%= f.label :sport %>
    <%= f.text_field :sport, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :level %>
    <%= f.text_field :level, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :players %>
    <%= f.text_field :players, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Date %>
    <%= f.text_field :daytime, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div>
	</div>
	</div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
