<%= render 'pages/home' unless user_signed_in? %>

<div id="games" class="transitions-enabled">
  <% @games.each do |game| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(game.image.url(:medium)), game %>
      <div class="panel-body">
      <%= game.description %><br/>
      <strong><%= game.user.name if game.user %></strong>
      <% if game.user == current_user %>
      <div class="actions">
             <%= link_to edit_game_path(game) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to game, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
         </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="center">
   <%= will_paginate @games, renderer: BootstrapPagination::Rails %>
</div>
