<div id="games" class="transitions-enabled">
  <% @games.each do |game| %>
    <div class="box panel panel-default">
      <%= image_tag game.image.url(:medium) %>
      <div class="panel-body">
      <%= game.description %>
      <%= game.user.email if game.user %>
      <%= link_to 'Show', game_path(game) %>
      <% if game.user == current_user %>
        <%= link_to 'Edit', edit_game_path(game) %>
        <%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  <% end %>
</div>
